*{
  border:0px;
  margin:0px;
  color:white;
}

html{
  font-family: "Roboto", Arial, sans-serif;
  background:#222222;
}

#wrapper{
  width:1024px;
  height:100%;
  margin-left: auto;
  margin-right:auto;
  margin-top:0;
  margin-bottom:0;
  background:#4A4E69;
}

header{
  padding:25px;
  margin-top:30px;
  background:#222222;
}

#navbar{
  width:100%;
  margin:0;
  padding:0;
  display:inline flex;
  flex-direction:row;
  background:#2a2a2a;
}
ul li a{
  padding:14px 16px;
  width:70px;
}
ul li a:hover {
  background-color: #111111;
}
.nav-item{
  text-align:center;
  background:#2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration:none;
}

ul li :hover{
  background:#2a2a2a;
  color:#aaaaaa;
}

.container{
  display: grid;
  grid-template-columns: auto auto;
  gap:10%;
  padding:5%;
}

.card{
  padding:30px;
  height:300px;
  border-radius:25px;
  background:gray;
}

#photo{
  width:70%;
  height:70%;
  border-radius:50%;
  justify-self:center;
  background-image: url('e-clayson1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}
